.footer {
    background-color: #505355;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p {
    margin: auto;
    position: absolute;
    text-align: center;
    color: white
}

.social-icons-right {
    align-items: center;
}

.made-by {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #505355
}

.react-logo {
    width: 30px;
    height: 30px;
}